body{

font-family: Arial;
background: linear-gradient(135deg,#ff7a18,#ffb347);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;

}

.cupon{
    width: 350px;
    margin: auto;
    background: #f2f2f2;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

#imagenCupon{
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}



.logo{

width:120px;
margin-bottom:20px;

}

h1{

color:#333;
font-size:22px;

}

h2{

color:#e63946;

}

.codigo{

margin-top:20px;
font-size:28px;
font-weight:bold;
background:#f1f1f1;
padding:15px;
border-radius:10px;

}

.mensaje{

margin-top:20px;
color:#555;

}

