body{

font-family: Arial;
background: linear-gradient(135deg,#ff7a18,#ffb347);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;

}

.cupon {
    width: 350px;
    margin: auto;
    background: white;
    border-radius: 15px;
    overflow: hidden; /* evita que la imagen se salga */
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

#imagenCupon {
    width: 100%;
    height: 200px;
    object-fit: cover; /* ajusta la imagen sin deformarla */
    display: block;
}

.logo{

width:120px;
margin-bottom:20px;

}

h1{

color:#333;
font-size:22px;

}

h2{

color:#e63946;

}

.codigo{

margin-top:20px;
font-size:28px;
font-weight:bold;
background:#f1f1f1;
padding:15px;
border-radius:10px;

}

.mensaje{

margin-top:20px;
color:#555;

}
